button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-gray;
    &:visited {
        color: $dark-gray;
    }
    &:hover,
    &:focus {
        color: $black;
    }
}

svg {
    width: 40px;
    height: auto;
    fill: $light-gray;
}

a:hover {
    svg {
        fill: $black;
    }
}

@media(min-width: 50em) {
    svg {
        width: 50px;
    }
}