@use '../base/variables' as *;

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-01.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-Medium-11.ttf) format('ttf');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-Bold-02.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Roman-12.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Medium-09.ttf) format('ttf');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Heavy-05.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: $dark-gray;
    letter-spacing: 1.8px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Avenir, sans-serif;
}
