@use '../base/variables' as *;

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-01.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-Medium-11.ttf) format('ttf');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../../fonts/HelveticaNeue-Bold-02.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Roman-12.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Medium-09.ttf) format('ttf');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Heavy-05.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Avenir', sans-serif;
    color: $dark-gray;
    font-weight: 400;
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Avenir', sans-serif;
}

h1,
h2 {
    color: $primary-color;
    margin-bottom: 4rem;
}

h2 {
    font-size: clamp(3.44rem, 10vw + 1rem, 5rem);
}

h3 {
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
}

h4 {
    margin: 0.3rem 0rem;
    font-weight: 500;
    font-size: 1.25rem;
}

@media(min-width: 62.5em) {
    h2 {
        font-size: clamp(5rem, 6vw + 1rem, 6.875rem);
    }
    
}

.project-title {
    font-weight: 500;
    margin: 0.5rem 0 0;
}

.project-subtitle {
    font-weight: 400;
    margin-top: 0;
}