.site-footer {
    text-align: center;
    font-size: 0.8rem;
    p {
        margin-bottom: 0rem;
    }
}

.footer-nav {
    a {
        margin-right: 1rem;
    }
}

.hide-footer-nav {
    display: none;
}

@media(min-width: 31.25em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media(min-width: 50em) {
    .footer-nav {
        display: none;
    }
}