.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    img{
        width: 70px;
    }

    // &:hover svg {
    //     fill: #000;
    // }

}

.menu-btn {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    z-index: 200;
    background-color: $primary-color;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 12px #bababa;
}

.plusIcon {
    margin-top: 2px;
    .line {
        display: block;
        width: 40px;
        height: 4px;
        background-color: #fff;
        transition: .35s;
    }

    span:nth-child(2) {
        transform: translateY(-100%) rotate(90deg);
    }
}

.show .plusIcon {
    span:nth-child(1) {
        opacity: 0;
        transform: rotate(-90deg);
    }
    span:nth-child(2) {
        transform: translateY(-100%) rotate(0deg);
    }
}

.site-navigation {
    background-color: $beige;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Avenir, sans-serif;
    font-weight: 400;
    z-index: 100;
    letter-spacing: 4px;
    ul {
        position: relative;
        top: 10rem;
        left: 15%;
    }
    li {
        margin-bottom: 10vh;

    }
    a {
        display: inline-block;
        width: 100%;
        border-bottom: 2.5px solid $dark-gray;
        &:hover,
        &:focus,
        &:active {
            border-bottom: 2.5px solid $black;
            transform: translateX(-1.5rem);
        }
    }
}

.show .site-navigation {
    transform: translateX(0%);
    transition: transform 0.4s ease-out;
}

@media (min-width: 34.375em) {
    .site-navigation ul {
        left: 40%;
    }
}

@media (min-width: 50em) {
    .site-navigation {
        width: 50%;
        max-width: 800px;
    }

    .menu-btn {
        position: relative;
        bottom: auto;
        right: auto;
        z-index: 200;
        background-color: transparent;
        box-shadow: none;
        margin-top: 5px;
        transition: width 2.5s ease-in-out;
        width: 65px;
        height: 65px;
        &:hover .line {
            background-color: $black;
            width: 55px;
        }
    }

    .plusIcon {
        .line {
            background-color: $dark-gray;
            width: 50px;
        }
    }
}