.landing-section {
    height: 85vh;
    padding-top: 10rem;
}

.job-title {
    border-bottom: 3px solid $dark-gray;
    width: fit-content;
    margin-top: 15vh;
    h2 {
        font-weight: 500;
        font-size: 1.6rem;
    }
}