// Landing Section
.landing-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.job-title {
    width: fit-content;
    margin-top: 15vh;

    h2 {
        color: $dark-gray;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }

    &::after {
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background-color: $light-gray;
        animation-name: job-title-border;
        animation-duration: 1s;
        animation-delay: 1.7s;
        animation-fill-mode: forwards;
    }
}
@keyframes job-title-border {
    from {
       width: 0px;
   }
    to {
        width: 100%;
   }
}

@media( min-width:62.5em ) {
    .job-title h2 {
        font-size: clamp(30px, 2vw, 45px);
    }
}

// About section
.about-section {
    min-height: 700px;
}

.about-content {
    font-size: 1.2rem;
}

.toolkit-section {
    margin-top: 4rem;
    p {
        margin-top: 0.3rem;
    }
}

@media(min-width: 56.25em) {
    .about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        gap: 3rem;
        h2 {
            grid-column: 1/2;
            margin-bottom: 0rem;
        }
    }

    .about-content {
        grid-row: 2/3;
        grid-column: 2/3;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .toolkit-section {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: auto;
    }
}

@media(min-width: 81.25em) {
    .about-content {
        line-height: 2rem;
    }
}

@media(min-width: 93.75em) {
    .about-content {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
}

// Contact section
.contact-section {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
        margin-bottom: 0.5rem;
    }
}

.contact-content {
    display: none;
}

.contact-content.show {
    display: block;
    font-size: clamp(19.2px, 2vw, 22px);
}

.contact-underline {
    display: block;
    background-color: $light-gray;
    width: 100px;
    height: 3px;
    margin: 0.8rem 0rem;
}

.contact-email {
    font-size: clamp(20.8px, 5.5vw, 38px);
    letter-spacing: 2px;
    color: $dark-gray;
    margin: 1rem 0rem;
    &:hover {
        color: $black;
    }
}

.tooltip {
    position: relative;
}

.tooltipText {
    visibility: hidden;
    width: 140px;
    background-color: $black;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black transparent transparent transparent;
}

@media(min-width: 50em) {
    .contact-email:hover .tooltipText {
        visibility: visible;
        opacity: 1;
    }
}

@media(min-width: 62.5em) {
    .tooltipText {
        bottom: 130%;
    }
}

.socialmedia-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

@media(min-width: 50em) {
    .contact-content.show {
        margin: 0rem 0rem 1.8rem;
    }

    .contact-underline {
        width: 200px;
    }

    .contact-email {
        margin: 2rem 0rem;
    }

    .socialmedia-icons {
        display: none;
    }
}

// Featured Projects
.featured-projects {
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    h2 {
        grid-column: 1/-1;
    }
    .featured-image {
        margin: 0;
        width: clamp(250px, 50vw, 550px); 
        height: clamp(250px, 45vw, 450px); 
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
        height: auto;
        filter: grayscale(100%);
        }
    }

    article {
        justify-self: center;
        margin-bottom: 5rem;
        width: fit-content;
        &:hover {
            h3 {
                color: $primary-color;
            }
            h4 {
                color: $black;
            }
            .featured-image img {
                filter: grayscale(0%);
            }
        }
    }
}

.all-projects-link {
    justify-self: center;
    grid-column: 1/-1;

    svg {
        vertical-align: middle;
        width: 30px;
        height: auto;
        path {
            stroke: $primary-color;
            stroke-width: 1.5px;
        }
    }
    @media (min-width: 43.75em) {
        font-size: 1.3rem;
    }

    @media(min-width: 53.125em) {
        &:hover {
            transform: scale(1.07);
        }
    }

    @media(min-width: 81.25em) {
        font-size: 1.5rem;
        svg {
            width: 38px;
        }
    }
}

.arrow-span {
    display: inline-block;
    margin-left: 0.5rem;
}

.project-titles {
    position: relative;
}

.more-info-arrow {
    position: absolute;
    top: 40%;
    right: 0;
    width: 55px;
    &::before {
        content: "";
        display: inline-block;
        width: 51px;
        height: 2px;
        transform-origin: right;
        background-color: $black;
        transition: transform 300ms ease;
        z-index: 10;
    }

    span {
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0%;
            bottom: 4.3px;
            background: $black;
            transition: transform 200ms cubic-bezier(0.3, 1.5, 0.5, 1);
            transition-delay: 240ms;
            z-index: 2;
        }

        &::before {
            width: 2px;
            height: 20px;
            transform-origin: 0% 100%;
            transform: rotate(-65deg);
        }

        &::after {
            height: 2px;
            width: 20px;
            transform-origin: 100% 0%;
            transform: translateX(-2px) rotate(-30deg);
        }
    }
}

@media(min-width: 53.125em) {
    .featured-projects {
        grid-template-columns: 1fr minmax(auto, 650px);
        .featured-image {
            width: clamp(250px, 35vw, 650px);
            height: clamp(250px, 30vw, 400px);
        }

        article {
            justify-self: start;
            &:hover .more-info-arrow {
                opacity: 1;
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }

                span {
                    --deg: -45deg;
                    &::before {
                        transform: rotate(-65deg);
                        opacity: 1;
                    }
                    &::after {
                        transform: translateX(-1.5px) rotate(-30deg);
                        opacity: 1;
                    }
                }
            }
        }

        h2 {
            grid-column: 1/2;
        }
    }

    #feature-project-120 {
        margin-right: 1rem;
    }

    #feature-project-48 {
        justify-self: end;
    }

    .more-info-arrow {
        &::before {
            transform: scaleX(0);
        }

        span {   
            &::before {
                transform: rotate(-90deg);
                opacity: 0;
            }
    
            &::after {
                transform: translateX(-2px) rotate(0deg);
                opacity: 0;
            }
        }
    }

    .all-projects-link {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: end;
        margin-bottom: 4rem;
        justify-self: end;
    }

}