/*--------------------  Landing Section -------------------- */
.project-landing-section {
    height: 85vh;
    min-height: 650px;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr minmax(250px, clamp(250px, 45vw, 550px)) 1fr;
    align-content: center;
    h2 {
        margin: 1rem 0rem 0rem;
        font-size: 2.3rem;
        font-weight: 500;
    }

    h3 {
        margin: 0rem;
        font-weight: 500;
    }
}

.project-landing-content {
    grid-column: 2/3;
    align-items: start;
    position: relative;
    margin-top: -4rem;
}

.indvidual-proj-featured-image {
    margin: 0rem auto;
    width: clamp(250px, 45vw, 550px);
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
        width: clamp(650px, 100vw, 1300px);
        height: auto;
    }
}

@media(min-width: 45.625em) {
    .project-page-titles {
        position: absolute;
        bottom: 10%;
        left: -30%;
        z-index: 50;
    }

}

@media(min-width: 53.125em) {
    .project-landing-section {
        h2{
            font-size: 2.8rem;
        }

        h3{
            font-size: 2rem;
        }
    }
}

@media(min-width: 81.25em) {
    .project-landing-section {
        margin-bottom: 12rem;

        h2{
            font-size: 3.7rem;
        }
    }
}

/*--------------------  Project Summary Section -------------------- */
.proj-summary-section {
    margin-bottom: 10rem;
    h4 {
        font-size: 1.7rem;
        font-weight: 700;
    }
}

.proj-overview {
    margin-bottom: 3rem;
}

.proj-details {
    h5 {
        margin: 0rem;
        font-size: 1.2rem;
    }

    p {
        margin: 0rem 0rem 1.5rem;
    }
}

.view-project-links {
    a {
        display: block;
        width: fit-content;
        margin-bottom: 0.8rem;
    }

    svg {
        vertical-align: middle;
    }
}

@media(min-width: 62.5em) {
    .proj-summary-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        margin-bottom: 15rem;
    }

    .overview-wrapper {
        grid-column: 2/3;

        h4 {
            margin: 0rem;
        }

        p {
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }

    .proj-details {
        grid-row: 1/2;
    }

}

/*--------------------  Gallery Section -------------------- */
.project-gallery {
    figure {
        width: clamp(250px, 100%, 1200px);
        overflow: hidden;
        display: flex;
        margin: 0rem auto 5rem;
        justify-content: center;
        img {
            width: clamp(350px, 100%, 1500px);
        }
    }
}

@media (min-width: 50em) {
    .project-gallery {
        margin-bottom: 8rem;
    }
}

/*--------------------  Accordion Section -------------------- */
.project-accordion {
    margin-bottom: 3rem;
    details {
        margin: 0rem auto 1rem;
        max-width: 900px;

        summary,
        summary::-webkit-details-marker {
            list-style: none;
        }

        summary {
            font-size: 1.4rem;
            font-weight: 700;
            border-bottom: 2px solid $dark-gray;
            position: relative;
            cursor: pointer;
            margin-bottom: 2rem;
        }

        h4 {
            margin: 6rem 0rem 1rem;
            color: $black;
            &:first-of-type {
                margin-top: -0.1rem;
            }
        }

        figure {
            margin: 0rem auto 1.5rem;
            width: fit-content;
        }

        video,
        img {
            min-width: 250px;
            width: 100%;
            max-width: 800px;
            height: auto;
        }

        &:first-child {
            div {
                height: 500px;
                overflow: auto;
            }
        }
    }

    .wp-block-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        img {
            min-width: 92px;
            max-width: 292px;
        }
    }

    .plusIcon {
        display: inline-block;
        position: absolute;
        top: 10%;
        right: 0;
        .line {
            background-color: $dark-gray;
            width: 28px;
            height: 2px;
        }
    }

    details[open] .plusIcon {
        span:nth-child(1) {
            opacity: 0;
            transform: rotate(-90deg);
        }
        span:nth-child(2) {
            transform: translateY(-100%) rotate(0deg);
        }
    }

    ul {
        list-style: disc;
    }

    details[open] {
        padding-bottom: 2rem;
    }
}

@media(min-width: 50em) {
    .project-accordion {
        margin-bottom: 8rem;
        details {
            margin-bottom: 3rem;
            
            summary {
                font-size: 1.5rem;
            }

            h4 {
                font-size: 1.6rem;
                text-align: center;
            }
        }
    }
}

/*--------------------  Suggest Projects Section -------------------- */
.suggested-projects {
    margin-bottom: 8rem;
    .title {
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
    }

    figure {
        margin: 0rem;
    }

    .featured-image {
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            width: auto;
            height: 150px;
            filter: grayscale(100%);
        }
    }

    h3 {
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    .more-info-arrow {
        display: none;
    }

    article {
        width: fit-content;
        &:hover {
            h3 {
                color: $primary-color;
            }
            h4 {
                color: $black;
            }
            .featured-image img {
                filter: grayscale(0%);
            }
        }
    }

    a {
        display: inline-block;
        width: fit-content;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    width: auto;
}

.swiper {
    height: 250px;
}

.swiper-pagination-bullet-active {
    background-color: $primary-color;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

@media(min-width: 58.125em) {
    .swiper-wrapper {
        justify-content: center;
    }
}