.project-grid {
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr;

    h2 {
        grid-column: 1/-1;
    }

    h3 {
        max-width: 80%;
    }

    .featured-image {
        margin: 0;
        width: clamp(250px, 50vw, 550px); 
        height: clamp(250px, 45vw, 450px); 
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            height: 100%;
            filter: grayscale(100%);
        }
    }

    a {
        justify-self: center;
        &:hover svg {
            fill: $primary-color;
        }
    }

    article {

        margin-bottom: 5rem;
        width: fit-content;
        &:hover {
            h3 {
                color: $primary-color;
            }
            h4 {
                color: $black;
            }
            .featured-image img {
                filter: grayscale(0%);
            }
        }
    }
}

.project-titles {
    position: relative;
}

.project-subtitle {
    width: 70%;
}

@media(min-width: 43.75em) {
    .project-subtitle {
        width: 100%;
    }
}

// More info arrow animation adapted and modified from https://codepen.io/dev_loop/pen/mdeopLN

.more-info-arrow {
    position: absolute;
    top: 30%;
    right: 0;
    width: 55px;
    &::before {
        content: "";
        display: inline-block;
        width: 51px;
        height: 3px;
        border-radius: 2rem;
        transform-origin: right;
        background-color: $black;
        transition: transform 300ms ease;
        z-index: 10;
    }

    span {
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0%;
            bottom: 4.3px;
            background: $black;
            transition: transform 200ms cubic-bezier(0.3, 1.5, 0.5, 1);
            transition-delay: 240ms;
            z-index: 2;
            border-radius: 2rem;
        }

        &::before {
            width: 3px;
            height: 20px;
            transform-origin: 0% 100%;
            transform: translateY(1.5px) rotate(-65deg);
        }

        &::after {
            height: 3px;
            width: 20px;
            transform-origin: 100% 0%;
            transform: translate(-3px, 1.5px) rotate(-30deg);
        }
    }
}

@media(min-width: 53.125em) {
    .project-grid a.all-projects-link {
        justify-self: end;
    }
}

@media(min-width: 64em) {
    .project-grid {
        article {
            justify-self: start;
            &:hover .more-info-arrow {
                opacity: 1;
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }

                span {
                    &::before {
                        transform: rotate(-65deg);
                        opacity: 1;
                    }
                    &::after {
                        transform: translateX(-1.5px) rotate(-30deg);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .more-info-arrow {
        &::before {
            transform: scaleX(0);
        }

        span {   
            &::before {
                transform: rotate(-90deg);
                opacity: 0;
            }
    
            &::after {
                transform: translateX(-2px) rotate(0deg);
                opacity: 0;
            }
        }
    }

}