.sidebar {
    display: none;
    svg {
        width: 40px;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.sidebar-line {
    background-color: $light-gray;
    width: 2px;
    height: 150px;
}

.email-btn {
    display: inline;
    cursor: pointer;
    & .tooltipText {
        width: 70px;
        margin-left: -42px;
        bottom: 3.5rem;
    }
    @media(min-width:50em) {
        & .tooltipText {
            margin-left: -35px;
            bottom: 150%;
        }
    }
}

@media(min-width:50em) {
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: fixed;
        bottom: 6rem;
        right: 2.25rem;

    }
}
